<section class="block" id="login-page">
  <div class="centered">
    <%= form_tag sessions_path, method: :post do %>
      <div class="row">
        <div class='small-12 columns'>
          <%= label_tag :username %>
          <%= text_field_tag :username %>
          <%= label_tag :password %>
          <%= password_field_tag :password %>
          <%= submit_tag 'Log In', class: 'button small secondary expand radius' %>
        </div>
      </div>
    <% end %>
  </div>
</section>
<%= render partial: "shared/footer" %>