<%= form_for @user do |f| %>
  <div class="row">
    <div class='small-12 medium-7 large-5 columns'>
      <%= f.label :username %>
      <%= f.text_field :username %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.label :phone %>
      <%= f.text_field :phone %>
      <input type='hidden' name="alert[latitude]" id="latitude" value=""/>
      <input type='hidden' name="alert[longitude]" id="longitude" value=""/>
      <%= f.submit 'Signup', class: 'button' %>
    </div>
  </div>
<% end %>
