<div id="user-profile-header">
  <div id='hero-image' class='hero-image'><%= image_tag 'bike_header.jpg'%></div>
  <div id="avatar-logo">
    <%= image_tag @user.avatar_url, size: '100', id:"user-avatar" %>
    <div id="username-user-show">
      <h2><%= @user.full_name %></h2>
    </div>
  </div>
  <div id="user-show-edit-button">
    <% if authorized?(@user)%>

    <%= link_to image_tag('edit_icon.png', size: '40', class: "trash-icon"), edit_user_path(@user) %>
    <% end %>
  </div>
</div>


<section  id='user-show-page'>
  <div id="bio">
    <%= image_tag('profile_icon.png', id:"bio-image", height: '10') %>
    <p id="bio-text"><%= @user.bio%></p>
  </div>

  <div id="1">
    <hr>
    <h6 id="user-alert-headers">Accepted Alerts</h6></div>
  <div id="2"><% @receipts.each do |receipt| %>
    <a href='/alerts/<%= receipt.alert.id %>', id="receipt-link">
      <%= image_tag(receipt.alert.creator.avatar_url, id: "alert-avatar", size: '50') %>
      <%= link_to receipt.alert.creator.full_name, receipt.alert, id:"alert-user" %>
      <p id= "receipt-time"><%= receipt.alert.time_diff  %></p>
      <hr>
    </a>
    <% end %></div>
    <div id="3"><h6 id="user-alert-headers">Created Alerts</h6></div>
    <div id="4"><% @alerts.each do |alert| %>

      <a href='/alerts/<%= alert.id %>'>
       <div id="created-alerts">
         <%= image_tag('location_icon.png', id: "alert-icon",size: '20') %>
         Posted <%= alert.time_diff %>
         <p id= "created-alert-status"><%= alert.status.capitalize %></p>
       </div>
     </a>
     <% end %>
   </div>
   <div id="5"></div>

 </section>