<div>
	<% if authorized?(@user)%>
		<%= link_to 'Edit', edit_user_path(@user) %>
	<% end %>

	<%= image_tag("http://vectorlogofree.com/wp-content/uploads/2014/02/25231-github-cat-in-a-circle-icon-vector-icon-vector-eps.png") %>
	<h1>Welcome <%= @user.full_name %></h1>
	<div>Member Since: <%= @user.time_diff %></div>


	<div class='row' style="width: 100%;">
		<div class='large-6 column text-center'>
			<h2>Your Created Alerts</h2>
			<ul>
				<% @created_alerts.each do |alert| %>
					<li><%= link_to alert.time_diff, alert_path(alert) %></li>
				<% end %>
			</ul>
		</div>

		<div class='large-6 column text-center'>
			<h2>Your Accepted Alerts</h2>
			<ul>
				<% @alerts.each do |alert| %>
					<li><%= link_to alert.time_diff, alert_path(alert) %></li>
				<% end %>
			</ul>
		</div>
	</div>
	<p><%=@user.latitude%>
	<%=@user.longitude%></p>

</div>
