<%= image_tag(@user.avatar_url) %>
<% if authorized?(@user)%>
	<%= link_to 'Edit', edit_user_path(@user) %>
<% end %>

<%= @user.full_name %>

<%= image_tag("blank_avatar.png") %>

<% if @user.bio.empty? %>
	<%= link_to 'Click Here To Edit', edit_user_path(@user) %>
<% else %>
	<%= @user.bio %>
<% end %>

Accepted Alerts
<% @receipts.each do |receipt| %>
  <a href='/alerts/<%= receipt.alert.id %>'>
  	<%= image_tag(receipt.alert.creator.avatar_url) %>
  	<%= receipt.alert.creator.full_name %>
  	<%= link_to receipt.alert.description, receipt.alert %>
  </a>
<% end %>

Created Alerts
<% @alerts.each do |alert| %>
  <a href='/alerts/<%= alert.id %>'>
  	<%= image_tag('location_icon.png') %>
  	<%= alert.time_diff %>
  	<%= alert.status.capitalize %>
  </a>
<% end %>