<div id="user-profile-header">
<div id='hero-image' class='hero-image'><%= image_tag 'bike_header.jpg'%></div>
  <div id="avatar-logo">
    <%= image_tag @user.avatar_url, size: '100', id:"user-avatar" %>
    <div id="username-user-show">
      <h2><%= @user.full_name %></h2>
    </div>
  </div>
  <div id="user-show-edit-button">
    <% if authorized?(@user)%>

    <%= link_to image_tag('edit_icon.png', size: '40', class: "trash-icon"), edit_user_path(@user) %>
    <% end %>
  </div>
</div>


<section  id='user-show-page'>
  <div id="bio">
      <%= image_tag('profile_icon.png', id:"bio-image", height: '10') %>
      <p id="bio-text"><%= @user.bio%></p>
  </div>

    <h6>Accepted Alerts</h6>
    <% @receipts.each do |receipt| %>
    <a href='/alerts/<%= receipt.alert.id %>'>
      <div id="alert-receipt-item">
       <%= image_tag(receipt.alert.creator.avatar_url, size: '40', class: "trash-icon") %>

       <%= link_to receipt.alert.creator.full_name, receipt.alert %>
    </div>
   </a>
   <% end %>

   <h6>Created Alerts</h6>
   <% @alerts.each do |alert| %>
   <a href='/alerts/<%= alert.id %>'>
     <div id="alert-item">
       <%= image_tag('location_icon.png', size: '20', class: "trash-icon") %>
       <%= alert.time_diff %>
       <%= alert.status.capitalize %>
    </div>
   </a>
   <% end %>
</section>