<%= link_to "Create an alert", new_alert_path %>

<div class="river">
  <% @alerts.each do |alert| %>
    <div class="alert-container">
      <div class="alert-creator">
        <%= alert.creator.username %>
      </div>
      <div class="alert-description">
        <%= link_to alert.description, alert_path(alert) %>
      </div>
      <div class="alert-status">
        <%= alert.status %>
      </div>
      <div class="alert-coords">
        <%= alert.latitude %>, <%= alert.longitude %>
      </div>
    </div>
  <% end %>
</div>
