<h2 class='small-6 small-centered columns'><%= link_to "Create an alert", new_alert_path %></h2>

<ul class='row no-bullet'>
  <% @alerts.each do |alert| %>
  <div class='small-11 large-6 small-centered columns'>
    <li><%= link_to alert.description, alert_path(alert) %></li>
    <ul>
      <li><%= alert.creator.username %></li>
      <li><%= alert.status %></li>
      <li><%= alert.latitude %>, <%= alert.longitude %></li>
    </ul>
  </div>
  <% end %>
</ul>