<div id="alert_form">
<%= form_for @alert do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :tags %>
  <%= f.text_field :all_tags %>
  <div id="location">
  </div>
  <%= f.submit %>
<% end %>
</div>