<div id="alert_form">
<%= form_for @alert do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :tags %>
  <%= f.text_field :all_tags %>
  <input type='hidden' name="alert[latitude]" id="latitude" value=""/>
  <input type='hidden' name="alert[longitude]" id="longitude" value=""/>
  <%= f.submit %>
<% end %>
</div>