<div id="lat" style="display: none;"><%= @alert.location.latitude %></div>
<div id="lng" style="display: none;"><%= @alert.location.longitude %></div>
<div id='current_lat' style="display: none;"><%= current_user.location.latitude %></div>
<div id='current_lng' style="display: none;"><%= current_user.location.longitude %></div>

<section class='block' id='alert-incomplete-page'>
  <div class="location_map"></div>
    <div class="centered">
      <%= image_tag 'alert_logo_center.png', size: '50', class: 'alert_logo'%>
      <div class='row'>
        <%= image_tag @alert.creator.avatar_url, size: '60', class: 'avatar' %>
        <div class='small-8 small-centered columns'>
          <h3><%= @alert.creator.full_name %></h3>
        </div>
        <div class='small-12 small-centered columns'>
          <p>Posted <%= @alert.time_diff %></p>
          <h6><%= @alert.status.capitalize %></h6>
          <%= image_tag 'location_icon.png', size: '22', class: 'location-icon' %>
        </div>
      </div>
    </div>
    <div class='response'>
      <% if current_user == @alert.creator %>
        <p id='response-header'>Remember to delete this alert if you no longer need help</p>
        <div class='small-10 small-centered columns'>
          <h6>Description</h6>
          <p id='desc-cont'><%= @alert.description %></p>
        </div>
          <%= link_to image_tag('trash_icon.png', size: '40', class: "trash-icon"), @alert, method: :delete %>
    </div>
      <% else %>
        <%= form_for @alert do |f| %>
          <%= f.hidden_field :status, value: "in progress" %>
          <%= f.hidden_field :mechanic_id, value: current_user.id %>
          <input type='hidden' name="google[distance]" id="distance" value=""/>
          <input type='hidden' name="google[duration]" id="duration" value=""/>
          <%= f.submit "Help #{@alert.creator.first_name}" %>
          <% end %>
        <% end %>
    </div>
</section>
