<div id="lat" style="display: none;"><%= @alert.location.latitude %></div>
<div id="lng" style="display: none;"><%= @alert.location.longitude %></div>
<div id='current_lat' style="display: none;"><%= current_user.location.latitude %></div>
<div id='current_lng' style="display: none;"><%= current_user.location.longitude %></div>

<section class='block' id='alert-incomplete-page'>
  <div class="location_map"></div>
    <div class="centered">
      <%= image_tag 'alert_logo_center.png', size: '50', class: 'alert_logo'%>
      <div class='row'>
        <%= image_tag @alert.creator.avatar_url, size: '60', class: 'avatar' %>
        <div class='small-8 small-centered columns'>
          <h3><%= @alert.creator.full_name %></h3>
        </div>
        <div class='small-12 small-centered columns'>
          <p>Posted <%= @alert.time_diff %></p>
          <h6><%= @alert.status.capitalize %></h6>
          <%= image_tag 'location_icon.png', size: '22', class: 'location-icon' %>
        </div>
      </div>
    </div>
    <div class='response'>
      <% if current_user == @alert.creator %>
        <p id='response-header'>Remember to delete this alert if you no longer need help</p>
        <div class='small-10 small-centered columns'>
          <h6>Description</h6>
          <p id='desc-cont'><%= @alert.description %></p>
        </div>
          <%= link_to image_tag('trash_icon.png', size: '40', class: "trash-icon"), @alert, method: :delete %>
      <% else %>
        <p id='response-header'>Respond to this alert to get in contact with <%= @alert.creator.first_name %></p>
        <div class='small-10 small-centered columns'>
          <h6>Description</h6>
          <p id='desc-cont'><%= @alert.description %></p>
        </div>
        <%= form_tag alert_path(@alert), method: 'patch' do %>
          <input value="<%= current_user.location.latitude %>" type='hidden' name='mechanic[latitude]'>
          <input value="<%= current_user.location.longitude %>" type='hidden' name='mechanic[longitude]'>
          <input value="in progress" type="hidden" name="alert[status]" id="alert_status">
          <input value="<%= current_user.id %>" type="hidden" name="alert[mechanic_id]" id="alert_mechanic_id">
          <input type='hidden' name="receipt[distance]" id="distance" value=""/>
          <input type='hidden' name="receipt[duration]" id="duration" value=""/>
          <%= image_submit_tag "help_icon2.png", width: '40', class: 'help-icon' %>
          <% end %>
        <% end %>
      </div>
    </div>
</section>
