<h1>Alert status: <%= @alert.status %></h1>
<h3><%= @alert.creator.first_name %> needs help</h3>
<div>Description: <%= @alert.description %></div>
<div>Created <%= @alert.time_diff %> ago</div>
<div>Latitude: <%= @alert.latitude %></div>
<div>Longitude: <%= @alert.longitude %></div>
<% @alert.tags.each do |tag| %>
	<div><%= tag.name %></div>
<% end %>


<% if current_user == @alert.creator %>
	<%= link_to 'Delete Alert', alert_path(@alert), method: :delete, data: {confirm: 'Are you sure?' }%>
<% else %>
	<%= form_for @alert do |f| %>
	  <%= f.submit "Help #{@alert.creator.first_name}" %>
	<% end %>
<% end %>